/* Restablece algunos estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root{
--color-negro: #0d0d0d;
--color-negro-2: #181818;
--color-texto-primario: #FFFFFF;
--color-rojo: #ff011a;
--color-blanco-2: #fff;
--color-fondo: #141414;
--color-negro-3: #000;
}

/* elementos base */
body{
    background: var(--color-fondo);
    font-family: 'Roboto', sans-serif;
    color: var(--color-texto-primario);
}

.contenedor {
	width: 90%;
	margin: auto;
}

header .contenedor{
    display: flex;
    align-items: center; /* alinea el menú con el centro del contenedor */
    justify-content: space-between; /*Hace un hueco entre el logo y el menu*/
    flex-direction: row; /* coloca el menú junto al logotipo */
}

.logo {
    max-width: 168px; /* Tamaño del logo */
    margin-left: 5px; /* Espaciado entre el lado izquierdo de la pantalla y el logotipo */
}

/*Estilo del menu */

li{
    display: inline-block;
    position: relative;
    color: var(--color-texto-primario);
    font-family: sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s all ease;
    margin-right: 25px;
}

li:hover{
    color: #cdcdcd;
    transition: 0.4s all ease;
}

li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scalex(0);
    height: 2px;
    bottom: -1.2px; /*La posicion del efecto de la line roja*/
    left: 0;
    background-color: var(--color-rojo);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    
}

li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* responsivo */
@media screen and (max-width: 700px) {
    header .contenedor {
        display: flex;
        flex-direction: column;
    }

    .button {
        margin-top: 5px;
        width: 300px;
    }
}

/*Pelicula principal*/
/* Estilos para la sección de la película principal */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: var(--color-blanco-2);
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://wallpaperaccess.com/full/4110534.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

@media screen and (max-width: 800px) {
    .pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}
